body{
     margin:0; 
    background-color: rgb(247, 237, 225);
}

/* header section css here  */
header{
     width: 100%;
      height: 60px;
     background-color: rgb(235, 212, 184);
     padding-top: 20px;
      position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    }
   .name{
    font-weight: bolder;
      padding-left: 20px; 
   }
nav{
   display: flex;
   flex-direction: row;
   column-gap: 25px;
   padding-right: 35px;
} 
nav a,.name,.name1 h5,.quick h6,.timing h6,.social a{
    color: rgb(49, 12, 12);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(44, 16, 16);
    
}
/* hero section css here */
#home{
    height: 700px;
    width: 100%;
 background-image: url("image/home.png");
     position:relative; 
   z-index: 1;
display: flex;
flex-direction: row; 
}
   #main{
    height: 400px;
    width: 500px;
    text-align: left; 
     display: flex;
    flex-direction: column;
justify-content: center;
align-items:center; 
row-gap: 0;
    position: absolute;
    left:120px;
    top: 130px; 
   }
   #logo{
    height: 100px;
    width: 100px;
    filter:brightness(65%)
   }
   h1{
     margin: 0; 
    font-size: 70px;
    font-family:monospace ;
   color: rgb(59, 29, 29);
   }
h6{
     margin: 15px 0; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   font-weight: lighter;
   color: rgb(59, 29, 29);
}
pre{
    margin: 15px 0;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(59, 29, 29);
}
button{
    background-color:  rgb(59, 29, 29);
    border-radius: 30px;
    height: 35px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    color: rgb(219, 219, 189);
    border: 2px solid rgb(53, 14, 14);
}
/*  About Section css here*/
#about,#menu,#contact{
    width: 100%;
     margin-top: 5px;
}
#about{
    height: 1100px;
}
h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
   color: rgb(59, 29, 29);
   
}
.main1{
    width:1100px;
    height: 450px;
  border: 2px solid rgb(192, 145, 83);;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: burlywood;
   border-radius: 20px;
   margin-left: 120px;
   box-shadow: 5px 5px  5px rgb(77, 55, 55);
}
.cozy{
 height: 350px;
    width: 350px;
   box-shadow: 5px 5px 5px rgb(48, 45, 45); 
   border-radius: 20px;
}
.right{
    height: 250px;
    width: 300px;
    text-align: justify;
    color: rgb(59, 29, 29);
    font-size:20px ;
    line-height: 22px; 
}
#main2,#main3{
    border: 2px solid burlywood;
    width:1100px;
   background-color: rgb(192, 145, 83);
   border-radius: 20px;
   margin-top: 20px;
   margin-left: 110px;
   box-shadow: 5px 5px  5px rgb(77, 55, 55);
  
}
#main2{
    height: 450px;
display: flex;
flex-direction: row;
gap: 10px;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}
.image{
   
    height: 250px;
    width: 200px;
    border-radius: 20px;
   box-shadow: 6px 6px  5px rgb(41, 32, 32); 
}
/* Menu Section css here */
#menu{
    height: 1370px;
}
#menuhead{
    margin-top: 100px;
}
#main3{
    height: 1200px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;

}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
   align-items: center;
    height:350px;
     width:220px;
    border-radius: 20px;
    box-shadow:6px 6px 5px rgb(82, 78, 78) ;
   }
.image2{
    border-top-right-radius: 20px;
     border-top-left-radius: 20px;
    height: 230px;
    width: 220px;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
.detail h3,.detail h4 {
    margin: 0;
}
.detail p {
    margin: 0;
    line-height: 1.1;
}
/* contact section css here */
#contact{
    height: 620px;
}
.right h6,.right pre{
    margin-top: 0;
}
.right h6{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/* footer section css here */
footer{
     width: 100%;
      height: auto;
     background-color: rgb(235, 212, 184);
     padding-top: 20px;
      display: flex;
      flex-direction: column;
    justify-content: space-between;
}
/* information css here */
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.name1 h5,.quick h6,.timing h6{
    margin-top: 0;
}
.quick,.timing,.name1{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:3px ;
}
.quickA,.name1 p,.timing p{
    margin: 0;
     color: rgb(77, 45, 45);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


/* Social info css here */
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
column-gap: 40px;
margin-top: 20px;
}
/* copy right css here */
.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin-top: 15px;
    gap: 10px;
      color: rgb(77, 45, 45);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}